{% set defaultFormAttributes = {
	method: 'post',
	'accept-charset': 'UTF-8',
} %}
{% set defaultFormAttributes = defaultFormAttributes|merge(formAttributes ?? {}) %}

{# errors #}
{# {% if formUser %}
{% include '_user/partials/model-errors' with {
	model: formUser,
} only %}
{% endif %} #}

<form {{attr(defaultFormAttributes)}}>

{# hidden fields #}
{% if craft.app.config.general.enableCsrfProtection == true %}
	{{ csrfInput() }}
{% endif %}

{% block formContent %}{% endblock %}

</form>